body {
  overflow: hidden;
  visibility: hidden;
  background-repeat: no-repeat;
  text-align: center;
  background-color: whitesmoke;
  background-image: url("https://source.unsplash.com/category/nature/1920x1080/daily")
}

::-webkit-input-placeholder {
   color: white;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

html {
margin: 0;
}

body {
margin: 0;
}

#timeToggle {
  cursor: pointer;
}

#time {
  text-align: center;
  padding-top:30vh;
}

.inputline {
    color: white;
    margin-top: -8px;
    width: 100%;
    display: none;
}

#timeText {
  font-family: 'Roboto', sans-serif;
  font-size: 175px;
  color:white;
  display:inline-block;
}

#dayText {
  font-family: 'Roboto', sans-serif;
  color:white;
  font-size:55px;
  padding-left: 5px;
  display:inline-block;
}

.nomargin {
    margin: 0;
}

.noselect {
  cursor:default;
  user-select: none;
}

#searchbar {
    text-align: center;
    position:relative;
    display:inline-block;
    width:30%;
    padding:0;
}

.search {
    text-align:center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    outline: none;
    height: 50px;
    font-family: 'Open-Sans', sans-serif;
    font-size: 28px;
    font-weight: 200;
    transition: height 1s;
    -webkit-transition: height 1s;
    width: calc(100% - 90px);;
    -webkit-user-select: none;
}

#searchicon {
    position:absolute;
    bottom:8px;
    left:10px;
    width:35px;
    cursor: pointer;
    user-drag: none;
    -webkit-user-drag: none;
}
#timeToggle {
  display: inline-block
 }

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
