body {
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: center;
}

html {
margin: 0;
}

body {
margin: 0;
}

#time {
  text-align: center;
  padding-top:35vh;
}

.inputline {
    color: white;
    margin-top: -8px;
    width: 30%;
}

#timeText {
  font-family: 'Open Sans', sans-serif;
  font-size: 150px;
  color:white;
  display:inline-block;
}

#dayText {
  font-family: 'Roboto', sans-serif;
  color:white;
  font-size:45px;
  padding-left: 5px;
  display:inline-block;
}

.nomargin {
    margin: 0;
}

.noselect {
  cursor:default;
  user-select: none;
}

#searchbar {
    text-align: center;
}

.search {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    outline: none;
    height: 50px;
    font-size: 28px;
    transition: height 1s;
    -webkit-transition: height 1s;
    width: 35%;
    margin-left: -27%;
}

#searchicon {
    float: left;
    width: 35px;
    margin-left: 35%;
    margin-top: 8px;
}
#timeToggle {
  display: inline-block
 }
